/* кастомные свойства */
:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --accent-color: #2196F3;;
  --main-color: #212121;
  --secondary-color: #FFFFFF;
  --third-color: #757575;
  --main-background-color: #2F303A;
  --secondary-background-color: #F5F4FA;
}

/* убрать точки со списков */
.list {
  list-style: none;
}

/* убрать подчёркивание у ссылки */
.link {
  text-decoration: none;
}

/* наследование */
body {
  font-family: var(--main-font);
  color: var(--main-color);
  letter-spacing: 0.03em;

}

/* ==== COMPONENTS ==== */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--main-color);
}

.logo-accent {
  color: var(--accent-color);
}

.logo-footer {
  color: var(--secondary-color);
}

.suptitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;

  color: var(--main-color);
}

address {
  font-style: normal;
}
/* ==== END COMPONENTS ==== */

/* ==== HEADER ==== */
.navigation-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-color);
}

.navigation-menu-main-link{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.navigation-menu-link:hover,
.navigation-menu-link:focus {
  color: var(--accent-color);
}

.contacts-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--third-color);
}

.contacts-item-link:hover,
.contacts-item-link:focus {
  color: var(--accent-color);
}
/* ==== END HEADER ==== */

/* ==== HERO ==== */
.hero-section {
  background-color: var(--main-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-color);
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--secondary-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188CE8;
}
/* ==== END HERO ==== */

/* ==== MAIN ==== */

/* ==== Our advantages section ==== */
.description-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.description {
  font-size: 14px;
  line-height: 1.71;

  color: var(--third-color);
}
/* ==== END Our advantages section ==== */

/* ==== Our team section ==== */
.team-section {
  background-color: var(--secondary-background-color);
}

.team-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-description{
  font-size: 16px;
  line-height: 1.19;

  color: var(--third-color);
}
/* ==== END Our team section ==== */

/* ==== FOOTER ==== */
footer {
  background-color: var(--main-background-color);
}

.footer-map-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: #FFFFFF;
}

.footer-map-link:hover,
.footer-map-link:focus {
  color: var(--accent-color);
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}
/* ==== END FOOTER ==== */


/* ==== PORTFOLIO ==== */
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;

  background-color: var(--secondary-background-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--main-color);
}

.gallery-description {
  font-size: 16px;
  line-height: 1.87;

  color: var(--third-color);
}
/* ==== END PORTFOLIO ==== */







